.nav-wrap {
  width: 100%;
  height: 50px;
  display: block;
}

.nav-content-container {
  max-width: 960px;
  margin: 0 auto;
}

.venos-logo {
  width: 34px;
  height: 34px;
  margin-top: 8px;
  image-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.nav-items {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  height: 50px;
}

.nav-items li {
  display: inline-block;
  margin-right: 14px;
  line-height: 50px;
  color: #FFF;
}

.nav-items li a {
  color: #FFF;
  text-decoration: none;
}
